train
train_labels
garden-detection-copy.ipynb
projeto-hu-unet3-equalized-b6-e100.h5
projeto-hu-unet2-resized-b6-e30.h5
projeto-hu-unet2-equalized-b6-e30.h5
projeto-hu-unet2-equalized-b6-e30-2.h5
projeto-hu-unet1-resized-b6-e30.h5
projeto-hu-unet1-resized-b6-e30.h5
projeto-hu-unet1-equalized-b6-e30.h5
projeto-hu-resized-b6-e10.h5
projeto-hu-equalized.h5
projeto-hu-equalized-b6-e5.h5
projeto-hu1.h5
projeto-hu2.h5
*.zip
*.py
dump.sql
gardens.db
raw-images
processed-images
logs
.vscode